---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import BlogPostsList from '../components/BlogPostsList.astro';
import BlogProjectList from '../components/BlogProjectList.astro';
import { artwork } from "../data/artwork";
import GalaryIndex from '../components/GalaryIndex.astro';
import MusicList from '../components/Music/MusicList.astro';
import { getAllRel } from '../lib/api.js';
import MusicPreview from '../components/Music/MusicPreview.astro';
import { getGalaryMainPage } from '../lib/api.js';
import { getSanityImageURL, formatMusicPerv } from '../utils/helpers';
import MusicListMain from '../components/Music/MusicListMain.astro';
import Oneee from '../components/Oneee.astro';
import CldImage from '../components/CldImage.astro';
const getGalaryMainPages = await getGalaryMainPage();
const getAllRels = await getAllRel();

const seo = {
  title: 'Homepage',
  description: 'TheFoxxStuff | Official Page',
}

export interface Props {
    picccData: any;
}

const { picccData } = Astro.props;

---
<style>
  .home-hero-text__container {
    padding: 5vh 0;
  }
  h1 {
    text-align: center;
  }
</style>

<Layout seo={seo}>
    <div id="scene" class="div-block-art">

      <CldImage data-depth="0.12" alt="background thefoxxstuff hug image" src="https://uploads-ssl.webflow.com/6350de25b6de2eb628c3ba65/636d33c33bfcc7ae41b9cced_bg_foxs.png" class="image-6"/>
      <CldImage data-depth="0.07" alt="thefoxxstuff hug image" id="text" src="https://uploads-ssl.webflow.com/6350de25b6de2eb628c3ba65/636d33c262d86944fdb70722_foxs.png" class="image-7"/>
  </div>

  <h1 class="heading">Navigation</h1>
  <div class="blocks">
      <a href="music">
          <div class="block"><img src="/img/icons/music.svg" loading="lazy" alt="" class="image">
              <div>Music</div>
          </div>
      </a>
      <a href="arts">
          <div class="block"><img src="/img/icons/arts.svg" loading="lazy" alt="" class="image">
              <div>Arts</div>
          </div>
      </a>
      <a href="links">
      <div class="block"><img src="/img/icons/links.svg" loading="lazy" alt="" class="image">
          <div>Links</div>
      </div>
      </a>
      <a href="about">
          <div class="block"><img src="/img/icons/about.svg" loading="lazy" alt="" class="image">
              <div>About</div>
          </div>
      </a>
  </div>

    <div class="header-with-right w-row">
      <div class="column-2 w-col w-col-6">
          <h1 class="heading-right">Last Releases</h1>
      </div>
      <div class="column w-col w-col-6">
        <a href="music">
          <div class="right-box">
              <div class="right-link">See more</div>
          </div>
        </a>
      </div>
  </div>
    <MusicListMain music={getAllRels}/>

    <div class="header-with-right w-row">
        <div class="column-2 w-col w-col-6">
            <div class="gal-tab">
                <h1 class="heading-right">Arts</h1>
            </div>
        </div>
        <div class="column w-col w-col-6">
            <a href="arts" class="right-box w-inline-block">
                <div class="right-link">See more</div>
            </a>
        </div>
    </div>
    {getGalaryMainPages.map((picccData) =>
        <Oneee picccData={picccData} />)}
    <script type = 'text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js">
    </script>
    <script  type = 'text/javascript'>
        var text = document.getElementById('text');
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(text);
        var parallaxInstance = new Parallax(scene);
    </script>


</Layout>


<style>
    canvas {
        display: block;
        vertical-align: bottom;
    }
    /* ---- particles.js container ---- */
    
    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #00000000;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: 20%;
        background-position: 50% 50%;
        pointer-events: none;
    }
</style>