---
import ArtsPreview from "./ArtsPreview.astro";
import { getAllArtinner } from '../../lib/api.js';
const getAllArtinners = await getAllArtinner();
---

<div class="relises">
  {getAllArtinners.map((arts) =>
    <ArtsPreview music={arts} />)}
</div>


