---
import { getSanityImageURL, formatMusicPerv } from '../../utils/helpers'
import CldImage from '../../components/CldImage.astro';
import { formatBlogPostDate } from '../../utils/helpers.js'
export interface Props {
  arts: any;
}
  
const { arts } = Astro.props;
---
  <a href={`/blog/${arts.slug.current}`}>
      <div class="relise">
          <div class="relise-con">
              <div class="test900">
                <CldImage width="200" height="200" src={getSanityImageURL(arts.image).url()}/></div>
              <div class="resile-text-box">
                  <div class="relise-text">{arts.title}</div>
                  <div class="resile-text-2">{formatBlogPostDate(arts.publishedAt)}</div>
              </div>
          </div>
      </div>
  </a>