---
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="footer wf-section">
        <div class="container w-container">
            <div class="w-layout-grid grid-footer">
                <div class="footer-subscribe-wrap">
                    <div class="section-title">
                        <img src="https://astro.build/assets/press/astro-logo-dark.svg" height="100px" width="100px">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                    </div>
                </div>
                <div class="w-layout-grid grid-footer-link">
                    <div id="w-node-_69bb48c2-5d19-69c4-56d5-0528a5951e39-a5951e25" class="footer-links-item"><a href="index.htm" aria-current="page" class="footer-link w--current">Главная</a><a href="home-2.html" class="footer-link">Главная 2</a><a href="pricing.html" class="footer-link">Блог</a><a href="contact.html" class="footer-link">Обо мне</a>
                        <a href="blog.html" class="footer-link">Blog</a><a href="about.html" class="footer-link">About</a></div>
                    <div id="w-node-_69bb48c2-5d19-69c4-56d5-0528a5951e42-a5951e25" class="footer-links-item"><a href="author.html" class="footer-link">Author</a><a href="privacy-policy.html" class="footer-link">Privacy Policy</a><a href="utility-pages/style-guide.html" class="footer-link">Style Guide</a><a href="utility-pages/instructions.html" class="footer-link">Instructions</a><a href="utility-pages/licenses.html" class="footer-link">Licenses</a><a href="utility-pages/changelog.html" class="footer-link">Changelog</a></div>
                </div>
            </div>
            <div class="w-layout-grid grid-footer-bottom">
            </div>
        </div>
    </div>
</footer>



