---

---

<div class="musicinner">
    <div class="w-row">
        <div class="column-3 w-col w-col-6">
          <a href={`$a.jpg.jpg`}>
            <div class="div-block-4"><img src={`a.jpg`} class="image-3"></div>
          </a>
        </div>
        <div class="column-5 w-col w-col-6">
            <h1 class="heading-ina">  NEW RELEASE
                GLOBAL COLLASPE</h1>
            <div>
                Яндекс.Переводчиком — сервисом автоматического перевода слов, фраз, текстов и веб-страниц. Сервис сопровождает переводы примерами использования и транскрипцией, озвучивает слова. В режиме сайта переводит всё текстовое содержимое страниц.
            </div>
            <div class="ffff w-row">
                <div class="w-col w-col-6">
                    <a class="buttonmusic band" href="">
                        <div>BUY ON BANDCAMP</div>
                    </a>
                </div>
                <div class="w-col w-col-6">
                    <a class="buttonmusic" href="">
                        <div>ALBUM PAGE</div>
                    </a>
                </div>
            </div>
                <a  href="">
                    <div class="link-small">PROMO PAGE</div>
                </a>
        </div>
    </div>
</div>

<style>
.band {
    background: #01B9ED;
    color: #FFF;
}
.band:hover {
    background: #00c8ff;
}
.link-small {
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.6);
}
.ass {
    margin-top: 20px;
    margin-bottom: 20px;
}
</style>
