---
import Layout from '../layouts/Page.astro'
import BlogPostsList from '../components/BlogPostsList.astro';

const currentYear = new Date().getFullYear();

const seo = {
    title: 'About',
    description: 'About TheFoxxStuff, Aytal Popov',
    image: "https://res.cloudinary.com/dzrynvom0/image/upload/v1674586057/about_ukv0pt.jpg",
  }
---


<Layout seo={seo}>
    <div class="about-section section-spacing wf-section">
        <div class="container w-container">
            <div class="w-layout-grid grid-about">
                <div id="w-node-c44024f1-eada-a0fc-1577-cbf0795ab38d-2a2f42c7">
                    <img
                        src="https://htmlformatter.com/image/logo.svg"
                        loading="eager"
                        class="about-image"
                    />
                </div>
                <div id="w-node-d3681737-e49c-277a-03a6-e58507f94f82-2a2f42c7">
                    <h1>About me</h1>
                    <p>
                        Supposing so be resolving breakfast am or perfectly. Is drew am hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set
                        nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected he resolving agreement perceived at an.
                    </p>
                    <blockquote>Comfort reached gay perhaps chamber his six detract besides add. Moonlight newspaper up its enjoyment agreeable depending. Timed voice share led him to widen noisy young.</blockquote>
                    <div class="about-vision">
                        <h4>Vision</h4>
                        <p>Demesne far hearted suppose venture excited see had has. Dependent on so extremely delivered by. Yet &#xFEFF;no jokes worse her why.</p>
                        <ul role="list" class="about-vision-list">
                            <li>Satisfied conveying a dependent contented he gentleman</li>
                            <li>Warrant private blushes removed an in equally</li>
                            <li>Delivered dejection necessary objection.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</Layout>
