---
import Layout from '../layouts/Page.astro'

const seo = {
    title: 'Обо мне',
    description: 'Обо мне',
    image: "https://res.cloudinary.com/du2sd0r7z/image/upload/v1684572355/aaa_cl9hsk.jpg",
  }
---


<Layout seo={seo}>
    <div class="about-section section-spacing wf-section">
        <div class="container w-container">
            <div class="w-layout-grid grid-about">
                <div id="w-node-c44024f1-eada-a0fc-1577-cbf0795ab38d-2a2f42c7">
                    <img
                        src="https://res.cloudinary.com/du2sd0r7z/image/upload/v1684572355/aaa_cl9hsk.jpg"
                        loading="eager"
                        class="about-image"
                    />
                </div>
                <div id="w-node-d3681737-e49c-277a-03a6-e58507f94f82-2a2f42c7">
                    <h1>Обо мне</h1>
                    <h4>Приветствую всех!</h4>
                    <p>
                        На связи Надя Посельская и вы находитесь на моем сайте про журналистику. Я являюсь студентом отделения журналистики «Северо-Восточного Федерального университета им. М.К. Аммосова». А также уже сейчас работаю журналистом в самых разных компаниях: предоставляю услуги корреспондента и занимаюсь SMM.
                    </p>
                    <p>
                        Журналистика - это профессия, которая требует знаний и умений в разных областях, включая умение писать, выступать на публике, искать и проверять информацию, анализировать события и т.д. Я готова помочь вам в освоении основных навыков журналиста, чтобы вы могли стать настоящим профессионалом.
                    </p>
                    <p>
                        На моем сайте вы найдете множество полезных статей, которые помогут вам разобраться в различных темах журналистики, включая интервью, репортажи, статьи и многое другое. Начинающему журналисту мои материалы помогут получить первоначальные знания, необходимые для построения карьеры в этой интересной области, а для профессионалов есть разные полезные и интересные советы, лайфхаки.
                    </p>
                    <blockquote>Я искренне надеюсь, что мой сайт поможет вам освоиться в мире журналистики и стать настоящим профессионалом!</blockquote>
                    <p>
                        Желаю вам успехов в этом нелегком, но интересном деле! Если у вас есть какие-либо вопросы, не стесняйтесь обращаться ко мне, и я буду рад помочь вам в любое время!
                    </p>
                </div>
            </div>
        </div>
    </div>
    
</Layout>
