---
import Layout from '../layouts/Page.astro'
import Container from '../components/Container.astro';
import BlogPostsList from '../components/BlogPostsList.astro';
import BlogProjectList from '../components/BlogProjectList.astro';
import { artwork } from "../data/artwork";
import GalaryIndex from '../components/GalaryIndex.astro';
import MusicList from '../components/Music/MusicList.astro';
import { getAllRel } from '../lib/api.js';
import MusicPreview from '../components/Music/MusicPreview.astro';
import { getGalaryMainPage } from '../lib/api.js';
import { getSanityImageURL, formatMusicPerv } from '../utils/helpers';
import MusicListMain from '../components/Music/MusicListMain.astro';
import Oneee from '../components/Oneee.astro';
import CldImage from '../components/CldImage.astro';
const getGalaryMainPages = await getGalaryMainPage();
const getAllRels = await getAllRel();
import ArtsListMain from '../components/Music/ArtsListMain.astro';
import { getAllArtinner } from '../lib/api.js';

const getAllArtinners = await getAllArtinner();

const seo = {
  title: 'Главная',
  description: 'Главная',
}

export interface Props {
    picccData: any;
}

const { picccData } = Astro.props;

---

<Layout seo={seo}>
<body>
    {getGalaryMainPages.map((picccData) =>
        <Oneee picccData={picccData} />)}

    <div class="blog-section section-spacing-bottom wf-section">
        <div class="container w-container">
            <div class="section-title">
                <h3 class="heading-h6">Последние статьи</h3>
            </div>

            <div class="blog-section section-spacing-bottom wf-section">
                <div class="container w-container">
                    <div class="w-dyn-list">
                        <div role="list" class="grid-blog w-dyn-items">
                    <ArtsListMain music={getAllArtinners}/>
                        </div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</body>

</Layout>