---
const currentYear = new Date().getFullYear();
---

<footer>
    <div class="footer wf-section">
        <div class="container w-container">
            <div class="w-layout-grid grid-footer">
                <div class="footer-subscribe-wrap">
                    <div class="section-title">
                        <img src="https://astro.build/assets/press/astro-logo-dark.svg" height="100px" width="100px">
                        <p>© 2023 Посельская Надя "NadyaToday"</p>
                    </div>
                </div>
                <div class="w-layout-grid grid-footer-link">
                    <div class="footer-links-item"><a href="/" aria-current="page" class="footer-link w--current">Главная</a><a href="/blog" class="footer-link">Блог</a><a href="/about" class="footer-link">Обо мне</a></div>
                    <div class="footer-links-item"><a href="https://www.instagram.com/n.poselskaya" class="footer-link">Instagram</a><a href="https://twitter.com/nadikka" class="footer-link">Twitter</a><a href="https://vk.com/n.poselskaya" class="footer-link">Vk</a></div>
                </div>
            </div>
            <div class="w-layout-grid grid-footer-bottom">
            </div>
        </div>
    </div>
</footer>



