---
import BaseHead from "../components/BaseHead.astro";
import type { Props as BaseHeadProps } from '../components/BaseHead.astro';
import CreateCopyCodeButtons from "../components/CodeButtons/CreateCopyCodeButtons.astro";
// import FadeIn from "../components/FadeIn.astro";
import ThemeProvider from "../components/ThemeToggleButton/ThemeProvider.astro";

export interface Props {
	seo?: BaseHeadProps;
}

const { seo } = Astro.props;
---

<html data-wf-domain="bilog-wbs.webflow.io" data-wf-page="63898e95e54de93a66cd0ea7" data-wf-site="63898e95e54de9be64cd0ea6" lang="ru">
  <head>
    <BaseHead {...seo} />
    <ThemeProvider/>
    <!-- This is and experimental global fade in animation that is being worked on, enable at your own risk of some jank -->
    <!-- <FadeIn/> -->
    <CreateCopyCodeButtons />
    <style>
          .cursor {
        position: fixed;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #000;
        mix-blend-mode: difference;
        pointer-events: none;
        z-index: 9999;
        transform: translate(-50%, -50%);
        transition: all 0.2s ease-out;
      }
    </style>
    <script>
      import '../components/CodeButtons/copy-code-button'
    </script>


    
  </head>
  <body>
    <slot name="header" />
    <main class="flow">
      <slot />
    </main>
    <slot name="footer" />
    <div class="cursor"></div>
    <script>
        document.addEventListener("mousemove", function(e) {
        var cursor = document.querySelector(".cursor");
        cursor.style.left = e.clientX + "px";
        cursor.style.top = e.clientY + "px";
      });
    </script>
  </body>
</html>
